@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Francois+One|Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Monoton');
@import url('https://fonts.googleapis.com/css?family=Prosto+One');
/*Funentes:
    font-family: 'Roboto', sans-serif;
		font-family: 'Hind Siliguri', sans-serif;
		font-family: 'Francois One', sans-serif;
		font-family: 'Cinzel', serif;
    font-family: 'Monoton', cursive;
    font-family: 'Alegreya Sans SC', sans-serif;
		font-family: 'Prosto One', cursive;
*/
/* estilos globales */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Javascript */

.show {
	visibility: visible;
}

/* Global */

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
	line-height: 1em;
	font-size: 1cm;
}
h2, h3, h4, h5 {		/* Titulos */
	font-family: 'Prosto One', sans-serif;
	font-weight: 400;
}
h2, h3 {
	margin-bottom: 10px;
	text-align: center;
}
header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	padding: 5px 0;
	height: 12%;
	min-height: 4.7em;
	max-height: 100px;
	color: black;
	overflow: hidden;
	box-shadow: 0 2px 2px #000;
	background: #7f93c1;
		background: -moz-linear-gradient(top, #7f93c1 0%, #46577f 100%);
		background: -webkit-linear-gradient(top, #7f93c1 0%,#46577f 100%);
		background: linear-gradient(to bottom, #7f93c1 0%,#46577f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f93c1',
	endColorstr='#46577f',GradientType=0 );
}
header h2 {
	color: #fff;
	text-align: center;
	text-shadow: 0 5px 10px #000;
}
header img {
	min-width: 10px;
	max-width: 90px;
	border-radius: 4px;
	max-width: 100px;
	max-height: 65px;
}
header img:hover {
	transform: scale(0.9);
	transition: 0.1s;
}
nav {
	visibility: hidden;
	position: fixed;
	right: 2%;
}
nav ul {
	overflow: hidden;
	display: flex;
}
ul, ol {
	list-style: none;
}
p, a, input, textarea, select, button, table, label {	/* textos */
	font-family: sans-serif;
}
label {
	display: inline-block;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-decoration: none;
}
table {	/* Tablas */
	border-collapse: collapse;
	margin: auto;
	background-color: white;
	width: 98%;
	min-width: 440px;
	overflow: scroll;
}
thead th {
	background-color: #19005D;
	color: #fff;
	padding: 7px;
	text-align: center;
	font-size: 13px;
	overflow: hidden;
	border: solid 1px #60609b;
}
tbody {
	text-align: center;
	font-size: 10px;
	overflow: hidden;
}
tbody td {
	border: solid 1px gray;
	position: relative;
	font-size: 11px;
	line-height: 1.4em;
	padding: 2px;
}
tbody tr:nth-child(even) {
	background: #d7dee8;
}
label {
	margin-bottom: 20px;
}
input, textarea, select {
	border-radius: 4px;
	border: solid 1px #b3b5b7;
	font-size: 16px;
	padding:.3em .4em;
	letter-spacing: 0.05em;
}
input:focus, textarea:focus, select:hover {
	box-shadow: 0px 0px 5px #5AC3E2;
	border: solid 1px #55bad6;
}
footer {		/* Pie de páginas */
	display: block;
	position: relative;
	bottom: -10px;
	margin-top: 2em;
	padding: 2em 2em;
	color: #fff;
	width: 100%;
	height: auto;
	background: #000;
}
footer .boton {
	color: #fff;
	border: solid 1px;
	text-align: center;
}
footer .boton:hover {
	text-decoration: underline;
}
.box {
	box-shadow: 0px 2px 2px #000;
	position: relative;
}
.just {
	display: grid;
	min-width: 38px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Colores */

.default {
	color: #1B3249;
	border: solid 1px #2D557A;
	background: #7db9e8;
		background: -moz-linear-gradient(top, #7db9e8 1%, #539ded 100%);
		background: -webkit-linear-gradient(top, #7db9e8 1%,#539ded 100%);
		background: linear-gradient(to bottom, #7db9e8 1%,#539ded 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8',
	endColorstr='#539ded',GradientType=0 );
}
.success {
	color: #003515;
	border: solid 1px #4C6800;
	background: #afef00;
		background: -moz-linear-gradient(top, #afef00 0%, #8fc400 100%);
		background: -webkit-linear-gradient(top, #afef00 0%,#8fc400 100%);
		background: linear-gradient(to bottom, #afef00 0%,#8fc400 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afef00',
	endColorstr='#8fc400',GradientType=0 );
}
.danger {
	color: #6b0000;
	border: solid 1px #960000;
	background: #dd5264;
		background: -moz-linear-gradient(top, #dd5264 0%, #d11235 100%);
		background: -webkit-linear-gradient(top, #dd5264 0%,#d11235 100%);
		background: linear-gradient(to bottom, #dd5264 0%,#d11235 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd5264',
	endColorstr='#d11235',GradientType=0 );
}
.cartel {
	transform: rotate(-35deg);
	position: absolute;
	bottom: 50%;
	line-height: 0;
	left: 15%;
	color: #ea0000;
	font-size: 12px;
	text-shadow: 2px 2px 2px #000;
}
.default2 {
	color: #540000;
	border: solid 1px #BF7215;
	background: #fac695;
		background: -moz-linear-gradient(top, #fac695 0%, #f5ab66 47%, #ef8d31 100%);
		background: -webkit-linear-gradient(top, #fac695 0%,#f5ab66 47%,#ef8d31 100%);
		background: linear-gradient(to bottom, #fac695 0%,#f5ab66 47%,#ef8d31 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695',
	endColorstr='#ef8d31',GradientType=0 );
}
.color2 {
	padding: 1px 5px;
}

/* Vista AP */

.div-ap {
	height: 90%;
	overflow: hidden;
	min-height: 700px;
	max-height: 800px;
	color: #000;
	background: #f2f5f6;
		background: -moz-linear-gradient(top, #f2f5f6 0%, #c8d7dc 100%);
		background: -webkit-linear-gradient(top, #f2f5f6 0%,#c8d7dc 100%);
		background: linear-gradient(to bottom, #f2f5f6 0%,#c8d7dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6',
	endColorstr='#c8d7dc',GradientType=0 );
}
.img-ap {
	border-radius: 4px;
	padding-top: 12px;
}
.propiedades {
	text-align: justify;
	padding: 10px 20px;
	border-radius: 4px;
}
.txt {
	font-size: 18px;
}
.circulo {
  width: 20px;
  height: 20px;
	overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #919191;
	margin: auto;
}
.Verde {
	background: #5cb85c;
	color: #003F1A;
}
.Ambar {
	background: #F48024;
	color: #8E3908
}
.Off {
	background: #BFC2C6;
	color: #414242
}
.boton {
	padding: 5px 8px;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	min-width: 5em;
	max-width: 12em;
}
.boton:hover {
	opacity: 0.9;
	box-shadow: 0 1px 2px #000;
}
.boton2 {
	padding: 6px 7px;
	text-align: center;
	color: #000;
	display: block;
	border-radius:4px;
	border: solid 1px #686868;
	margin: 4px;
	cursor: pointer;
	background: #c6c6c6;
		background: -moz-linear-gradient(top, #c6c6c6 0%, #f5f6f6 100%);
		background: -webkit-linear-gradient(top, #c6c6c6 0%,#f5f6f6 100%);
		background: linear-gradient(to bottom, #c6c6c6 0%,#f5f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6c6c6',
	endColorstr='#f5f6f6',GradientType=0 );
}
.boton2:hover {
	color: #c6c6c6;
	text-decoration: none;
	background: #45484d;
		background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
		background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
		background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d',
	endColorstr='#000000',GradientType=0 );
}

/* cabezera */

.logo {
	visibility: hidden;
	position: fixed;
	left: 6%;
}
.titulo {
	position: absolute;
	margin: auto;
}
.btn-nav {
	padding-top: 7px;
	text-align: center;
	font-size: 30px;
	color: #2c2d2d;
	display: inline-block;
	width: 60px;
	height: 100%;
	line-height: 54px;
	border: solid 1px #31426B;
	border-radius: 5px;
	margin-left: 1px;
}
.btn-nav:hover, .btn-cnav:hover {
	border: solid 1px #c1c1c1;
	color: #eeeeee;
	cursor: pointer;
	background: #2c2d2d;
}

/* cuerpo */

.wrapper {
	margin:auto;
	display: block;
	min-width: 200px;
	max-width: 1000px;
	width: 95%;
}
.center {
	text-align: center;
}
.main {
	background: #DADDCC;
}
.contenido {
	position: relative;
	padding-top: 2.7cm;
	height: 90%;
}
.maimg {
	width: 80%;
	max-width: 40em;
	height: 100%;
	max-height: 28em;
	margin: auto;
	border-radius: 3px;
	border: solid 1px #525451;
	display: flex;
	margin-bottom: 20px;
	box-shadow: 0px 2px 3px #000;
}

/* Index php */

.main .galeria {
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main .galeria li {
	margin: 5px;
}
.main .galeria li:hover img {
	transform: scale(1.1);
	transition-duration: 0.2s;
	box-shadow: 0px 5px 10px #000;
}
.main .galeria img {
	width: 120px;
	height: 75px;
	border-radius: 0;
}

.formulario {
	min-width: 290px;
	width: 60%;
	display: block;
	padding: 20px;
	margin: auto;
	position: relative;
	border-radius: 5px;
	border: solid 1px #AA6120;
	background: #ffbc59;
		background: -moz-linear-gradient(top, #ffbc59 0%, #ff993f 100%);
		background: -webkit-linear-gradient(top, #ffbc59 0%,#ff993f 100%);
		background: linear-gradient(to bottom, #ffbc59 0%,#ff993f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc59',
	endColorstr='#ff993f',GradientType=0 );
}

/* Tablas */

.id {
	max-width: 6em;
}
.thumb {
	position: relative;
	max-width: 100%;
	min-height: 400px;
	max-height: 580px;
}
.borde {
	border: solid 1px #bcbcbc;
}
.min {
	position: relative;
	max-width: 70%;
	max-height: 700px;
}
.col-xs-1 {
	margin: auto;
	width: 98%;
	display: inline-block;
}
.col-xs-2 {
	width: 48%;
	display: inline-block;
}
.col-xs-3 {
	width: 33%;
	display: inline-block;
}
.col-xs-4 {
	width: 24.5%;
	display: inline-block;
}
.col-xs-5 {
	width: 18.5%;
	display: inline-block;
}
.col-xs-6 {
	width: 16%;
	display: inline-block;
}
.col-80 {
	width: 79.8%;
	display: inline-block;
}
.col-70 {
	width: 69.5%;
	display: inline-block;
}

/*------------------------- Tamaño Pequeño --------------------------*/

@media(min-width: 540px) {

	header h1 {
		text-align: left;
	}
	table {
		overflow: scroll;
	}
	.main {
		display: block;
		/*float:left;*/
		margin-bottom: 10px;
	}
	.main img {
		width: 430px;
		display: flex;
	}
	.main table {
		padding: 5px;
		margin: auto;
		margin-top: 10px;
		background-color: white;
		border-radius: 4px;
		line-height: 12px;
	}
	.cartel {
		font-size: 16px;
		left: 20%;
	}
	.formulario {
		max-width: 50%;
	}
	.col-sm-1 {
		width: 100%;
		display: inline-block;
	}
	.col-sm-2 {
		width: 48%;
		overflow: hidden;
		display: inline-block;
	}
	.col-sm-3 {
		width: 30%;
		display: inline-block;
	}
	.col-sm-4 {
		width: 25%;
		display: inline-block;
	}
	.col-sm-5 {
		max-width: 18.5%;
		display: inline-block;
	}
}
@media(min-width:674px) {
	.logo {
		visibility: visible;
	}
}

/*--------------------------- Tamaño Mediano --------------------------*/

@media(min-width:760px) {

	table {
		overflow: visible;
	}
	.btn-cnav {
		visibility: collapse;
	}
	.main img {
		width: 420px;
	}
	.cartel {
		font-size: 18px;
		left: 25%;
	}
	.col-md-1 {
		width: 96%;
		display: inline-block;
	}
	.col-md-2 {
		position: relative;
		top: 0;
		width: 45%;
		display: inline-block;
	}
	.col-md-3 {
		width: 33.333%;
		display: inline-block;
	}
	.col-md-4 {
		width: 25%;
		display: inline-block;
	}
	.col-md-5 {
		width: 18.5%;
		display: inline-block;
	}
}
@media(min-width: 842px) {
	nav {
		visibility: visible;
	}
}

/*----------------------- Tamaño Grande ----------------------*/

@media(min-width:950px) {

	.main img {
		width: 530px;
	}
	.col-lg-1 {
		width: 100%;
		display: inline-block;
	}
	.col-lg-2 {
		width: 49.5%;
		display: inline-block;
	}
	.col-lg-3 {
		width: 33.333%;
		display: inline-block;
	}
	.col-lg-4 {
		width: 24.5%;
		display: inline-block;
	}
	.col-lg-5 {
		width: 19.5%;
		display: inline-block;
	}
}
